
.color-name{
    color: crimson;
}


                        /*hexadecimal*/                     
.color-title-hex{
    color: #1f5d;
}
.color-title-hex2{
    color: #1b456a;
}

                        /* mais sobres hexadecimal */

.color-name-2{
    /* color:#333333;*/
    color:#333;
}
.color-name-3{
    /* color:#aa55ff;*/
    color:#a5f;
}

                        /* rgb */
.color-rgb{
    color: rgb(0, 0, 255)
}

.mixed-rgb{
    color: rgb(255, 10, 190);
}
                        /* RGBA */
.color-rgba{
    color: rgba(190, 20, 150, .2);
}

                        /*HSL*/
.color-hsl{
    color: hsl(10, 50%, 50%);
}