/*font family do site*/
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



h1{
    color: blue;
    
}

/*flex-box caixa flexivel*/
.container{
 background-color: gray;
 display: flex;
}
.item{
    border: 1px solid white;
    flex: auto;
    background-color: blue;
    color: green;
}
